---
import { toHTML } from "@portabletext/to-html";
import BaseLayout from "../layouts/BaseLayout.astro";
import Slides from "../components/slideshow/Slides.svelte";
import { client } from "../client.ts";

const mapResponse = await client.fetch('*[_type == "map"]');
const mapUrl = await mapResponse[0].url;

const directionsResponse = await client.fetch('*[title == "Map slide"]');
const directionsHtml = toHTML(directionsResponse[0].body);

const shirtResponse = await client.fetch('*[title == "shirt slide"]');
console.log(shirtResponse);
---

<BaseLayout>
  <main>
    <Slides client:visible />
    <section>
      <iframe
        width="874"
        height="874"
        frameborder="0"
        style="border:0;margin-right: var(--page-margin);"
        referrerpolicy="no-referrer-when-downgrade"
        src={mapUrl}
        allowfullscreen
      >
      </iframe>
      <div>
        <Fragment set:html={directionsHtml} />
      </div>
    </section>
    <section>
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi5.walmartimages.com%2Fasr%2F04a4c9f3-6560-47fd-bb1a-ff52b97c73a0_1.c139bc082ee544e784cd97ae05c79dc3.jpeg"
        alt="a picture of the studio"
      />
      <div>
        <h3>WOW IT'S A T SHIRT</h3>
        <p>100% Cotton. Machine Washable</p>
        <p>£25</p>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
  }

  main :first-child h3 {
    margin-top: 100%;
  }

  section img {
    margin-right: auto;
    width: 60%;
  }
  div {
    width: 30%;
  }
  section {
    margin-bottom: 8rem;
  }
  section div h3 {
    margin-top: 0;
  }
  @media only screen and (max-width: 720px) {
    section img {
      width: 100%;
    }
    div {
      width: 100%;
    }
  }
</style>
