---
import { toHTML } from "@portabletext/to-html";
import BaseLayout from "../layouts/BaseLayout.astro";
import HomePageSlides from "../components/homepage/HomePageSlides.svelte";
import { client } from "../client";

const mapResponse = await client.fetch('*[_type == "map"]');
const mapUrl = await mapResponse[0].url;

const directionsResponse = await client.fetch('*[title == "Map slide"]');
const directionsHtml = toHTML(directionsResponse[0].body);
---

<BaseLayout>
  <HomePageSlides client:visible />
  <section class="slide">
    <div class="iframe-wrapper">
      <iframe
        class="iframe"
        referrerpolicy="no-referrer-when-downgrade"
        src={mapUrl}
        allowfullscreen
      >
      </iframe>
    </div>
    <div class="text-wrapper">
      <Fragment set:html={directionsHtml} />
    </div>
  </section>
</BaseLayout>

<style>
  main :first-child h3 {
    margin-top: 100%;
  }

  section img {
    margin-right: auto;
    width: 60%;
  }
  div {
    width: 30%;
  }
  section {
    margin-bottom: 8rem;
  }
  section div h3 {
    margin-top: 0;
  }

  .iframe-wrapper {
    width: var(--slide-image-size);
    height: var(--slide-image-size);
  }
  .text-wrapper {
    margin-left: 5rem;
  }

  @media only screen and (max-width: 720px) {
    .iframe-wrapper {
      width: 100%;
      height: calc(var(--slide-image-size) * 0.75);
      margin-bottom: 5rem;
    }
    .text-wrapper {
      margin-left: 0rem;
    }
    section img {
      width: 100%;
    }
    div {
      width: 100%;
    }
  }
</style>
