---
import { toHTML } from "@portabletext/to-html";
import BaseLayout from "../layouts/BaseLayout.astro";
import HomePageSlides from "../components/homepage/HomePageSlides.svelte";
import { client } from "../client";

const mapResponse = await client.fetch('*[_type == "map"]');
const mapUrl = await mapResponse[0].url;

const directionsResponse = await client.fetch('*[title == "Map slide"]');
const directionsHtml = toHTML(directionsResponse[0].body);
---

<BaseLayout>
  <HomePageSlides client:visible />
  <section class="slide">
    <iframe
      width="874"
      height="874"
      frameborder="0"
      style="border:0;margin-right: var(--page-margin);"
      referrerpolicy="no-referrer-when-downgrade"
      src={mapUrl}
      allowfullscreen
    >
    </iframe>
    <div>
      <Fragment set:html={directionsHtml} />
    </div>
  </section>
</BaseLayout>

<style>
  main :first-child h3 {
    margin-top: 100%;
  }

  section img {
    margin-right: auto;
    width: 60%;
  }
  div {
    width: 30%;
  }
  section {
    margin-bottom: 8rem;
  }
  section div h3 {
    margin-top: 0;
  }
  @media only screen and (max-width: 720px) {
    section img {
      width: 100%;
    }
    div {
      width: 100%;
    }
  }
</style>
