---
import { toHTML } from "@portabletext/to-html";
import { client, urlForImage } from "../client";
import BaseLayout from "../layouts/BaseLayout.astro";

import EquipmentList from "../components/EquipmentList.astro";
import RehearsalSpaceSlides from "../components/rehearsalSpaceSlides/RehearsalPageSlides.svelte";

const response = await client.fetch(
  '*[_type == "page-description" && title == "Rehearsal Space"]'
);

const imageUrl = urlForImage(response[0].image) as unknown as string;
const copy = toHTML(response[0].body);
---

<BaseLayout>
  <section class="slide">
    <img src={imageUrl} alt="image of rehearsal space" />
    <div>
      <Fragment set:html={copy} />
    </div>
  </section>
  <RehearsalSpaceSlides client:visible />
  <EquipmentList />
</BaseLayout>
