---
import { toHTML } from "@portabletext/to-html";
import { client, urlForImage } from "../client";
import BaseLayout from "../layouts/BaseLayout.astro";

import EquipmentList from "../components/EquipmentList.astro";
import RehearsalSpaceSlides from "../components/rehearsalSpaceSlides/RehearsalPageSlides.svelte";

const mainSlide = await client.fetch('*[title == "Rehearsal space slide"]');
const imageUrl = urlForImage(mainSlide[0].image) as unknown as string;
const copy = toHTML(mainSlide[0].body);
---

<BaseLayout>
  <section class="slide">
    <img src={imageUrl} alt="image of rehearsal space" />
    <div>
      <Fragment set:html={copy} />
    </div>
  </section>
  <RehearsalSpaceSlides client:visible />
  <EquipmentList />
</BaseLayout>
