---
import Case from "case";

import { navItems } from "./Header.astro";

const socialLinks = [
  { text: "INSTAGRAM", link: "www.google.com" },
  { text: "EMAIL", link: "www.google.com" },
  { text: "T'S & C'S", link: "www.google.com" },
  { text: "YOUTUBE", link: "www.google.com" },
  { text: "SPOTIFY", link: "www.google.com" },
];
---

<footer>
  <ul>
    {socialLinks.map((link) => (
      <li>
        <a href={link.link}>{link.text}</a>
      </li>
    ))}
  </ul>
  <form
    name="email-signup"
    data-netlify="true"
    method="POST"
    action="/successful-signup"
  >
    <h4>NEWSLETTER SIGN UP</h4>
    <label for="email">EMAIL</label>
    <input type="email" name="email" />
    <label for="name">NAME</label>
    <input type="text" name="name" />
    <button type="submit">SUBMIT</button>
  </form>

  <nav>
    {navItems.map((item) => <a href={item}>{Case.upper(item)}</a>)}
  </nav>
  <div>
    <address>
      <span>13E QUEENSWAY</span>
      <br />
      <span>ENFIELD</span>
      <br />
      <span>EN3 4SA</span>
    </address>
    <span>7 DAYS A WEEK</span>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    font-size: calc(var(--base-fontsize) * var(--header-scale));
  }
  ul {
    width: 15%;
    margin-top: 0;
    text-align: left;
    padding-left: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: left;
  }
  form h4 {
    margin-top: 0;
    font-weight: 300;
  }
  nav {
    width: 25%;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    line-height: normal;
    text-align-last: justify;
    font-size: unset;
  }
  nav a {
    margin-top: 0;
  }
  div {
    width: 25%;
    text-align-last: justify;
  }

  @media only screen and (max-width: 720px) {
    footer {
      flex-direction: column;
    }
    div {
      width: 100%;
      order: 2;
    }
    nav {
      width: 100%;
      order: 2;
    }
    form {
      width: 100%;
      order: 1;
    }
    ul {
      width: 100%;
      order: 2;
    }
  }
</style>
