---
import Case from "case";
import Logo from "./Logo.astro";

export const navItems = [
  "rehearsal-space",
  "recording-studio",
  "equipment-hire",
  "events",
];
---

<header>
  <a href="/" class="logo"><Logo /></a>

  <nav>
    {navItems.map((item) => (
      <a href={item}>
        <h3>{Case.upper(item)}</h3>
      </a>
    ))}
  </nav>
</header>

<style>
  header {
    display: flex;
    width: 100vw;
  }

  .logo {
    margin: 0;
    padding: 0;
    line-height: 0;
    flex: 1;
  }

  nav {
    flex: 2;
    margin-left: auto;
  }

  @media only screen and (max-width: 720px) {
    header {
      margin-top: 0.5rem;
      padding-top: 0;
      width: 100vw;
    }
  }
</style>
