---
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
---

<header>
  <a href="/"><Logo /></a>
  <Navigation />
</header>

<style>
  @media only screen and (max-width: 720px) {
    header {
      margin-top: 0.5rem;
      padding-top: 0;
    }
  }
</style>
