---
import Case from "case";

export const navItems = [
  "rehearsal-space",
  "recording-studio",
  "equipment-hire",
  "events",
];
---

<nav>
  {navItems.map((item) => (
    <a>
      <h3 href={item}>{Case.upper(item)}</h3>
    </a>
  ))}
</nav>
