---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Clang</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
    <main>
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  main {
    display: flex;
    flex-direction: column;
  }
</style>
